<?xml version="1.0"?>
<psalm
    totallyTyped="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <!-- Doctrine\DBAL\Configuration is marked @internal, so using the get/setSQLLogger methods raises an error -->
        <InternalMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Doctrine\DBAL\Configuration::setSQLLogger"/>
                <referencedMethod name="Doctrine\DBAL\Configuration::getSQLLogger"/>
            </errorLevel>
        </InternalMethod>
    </issueHandlers>
</psalm>
