<?xml version="1.0"?>
<psalm
    totallyTyped="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
            <file name="src/Twig/TwigMethods-Twig2.php"/>
            <file name="src/Twig/TwigMethods-Twig3.php"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <!-- Doctrine\DBAL\Configuration is marked @internal, so using the get/setSQLLogger methods raises an error -->
        <InternalMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Doctrine\DBAL\Configuration::setSQLLogger"/>
                <referencedMethod name="Doctrine\DBAL\Configuration::getSQLLogger"/>
                <referencedMethod name="Twig\Environment::getBinaryOperators"/>
                <referencedMethod name="Twig\Environment::getUnaryOperators"/>
                <referencedMethod name="Twig\Environment::getGlobals"/>
                <referencedMethod name="Twig\Environment::getFunctions"/>
                <referencedMethod name="Twig\Environment::getTest"/>
                <referencedMethod name="Twig\Environment::getTests"/>
                <referencedMethod name="Twig\Environment::getFilters"/>
                <referencedMethod name="Twig\Environment::getFilter"/>
                <referencedMethod name="Twig\Environment::getTags"/>
                <referencedMethod name="Twig\Environment::getTokenParsers"/>
                <referencedMethod name="Twig\Environment::loadTemplate"/>
                <referencedMethod name="Twig\Environment::getTemplateClass"/>
                <referencedMethod name="Twig\Environment::getNodeVisitors"/>
                <referencedMethod name="Twig\Environment::getFunction"/>
            </errorLevel>
        </InternalMethod>
    </issueHandlers>
</psalm>
